{% extends "index.html" %}
{% load bootstrap3 %}

{% block header %}
    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span><h1>Product Categories</h1>
{% endblock header %}

{% block content %}
    {% for category in categories %}
<div class="panel panel-default">
    <div class="panel-heading">
    <h3>
        <a href="{% url 'website:single_category' category.id %}">{{ category.name }} ({{ category.product.count }})</a>
    </h3>
        <ol>
        {% for product in category.get_top_three_products %}
        <li id="{{product.id}}"><a href="{% url 'website:product_detail' product.id %}">{{ product.title }}</a></li>

        {% endfor %}
    </ol>
        </div></div>
    {% endfor %}
{% endblock %}
