{% extends "index.html" %}
{% load bootstrap3 %}



{% load thumbnail %}
{% load staticfiles %}
<div class="container">
<div class="page-header">
{% block header %}
    <h2>Product Details</h2>
{% endblock header %}
</div>

<div class="container-fluid">
{% block content %}
    <ul class="list-unstyled center-block">
    {% if product.photo %}
      <li>
        {% thumbnail product.photo "250x250" crop="center" as im %}
          <a href="{{ product.photo.url }}" target="_new">
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          </a>
        {% endthumbnail %}
      </li>
    {% endif %}

      <h1>{{ product.title }}</h1>
      <p><strong>Description:</strong>  {{ product.description }}</p>
      <p><strong>Price:</strong> ${{ product.price }}</p>
        {%if product.quantity == 0 %}
            <p><strong>SOLD OUT</strong></p>
        {%else %}
            <p><strong>Quantity:</strong> {{product.quantity}}</p>
        {%endif%}
     {% if product.city %}
            <p><strong>Product Location:</strong> {{product.city}}</p>
            <img src="{{ product.photo }}" alt="product photo">
        {% endif %}
      </ul>

{% if request.user.is_authenticated %}

<form action="{% url 'website:add_to_cart' %}" method="post" class="form">
    {% csrf_token %}
    {{ add_to_cart_form.as_p }}
    <input type="hidden" value="{{ product.id }}" name="product_id"/>
    <input type="submit" value="Add to Order" class="btn btn-success"/>
    {% csrf_token %}
  </form>
  {% endif %}
{% endblock %}
</div>
