{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bangazon</title>
 <!--    <link rel="stylesheet" href="/../styles/test.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="{% url 'website:index' %}">Home</a></li>
                <li role="presentation"><a href="{% url 'website:categories' %}">Product Categories</a></li>
                <li role="presentation"><a href="{% url 'website:sell' %}">Sell a Product</a></li>
                <li role="presentation"><a href="{% url 'website:shopping_cart' %}">Shopping Cart</a></li>
                <li role="presentation"><a href="{% url 'website:add_payment_type' %}">Add A Payment Type</a></li>
                <li role="presentation"><a href="{% url 'website:logout' %}">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right" id="searchform" action="{% url 'website:product_search' %}"
                  method="get">
                <div class="form-group">
                    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Product Search">
                </div>
                <button class="searchbutton" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </form>
            <h3 class="text-center">Welcome to Bangazon {{ user.first_name }}.</h3>
        {% else %}
            <ul class="nav navbar-nav navbar-fixed-top">
                <li role="presentation"><a href="{% url 'website:index' %}">Home</a></li>
                <li role="presentation"><a href="{% url 'website:list_products' %}">Product Categories</a></li>
                <li role="presentation"><a href="{% url 'website:login' %}">Login</a></li>
                <li role="presentation"><a href="{% url 'website:register' %}">Register</a>
                </li>
            </ul>
            <p class="navbar-text navbar-right">Bangazon says: you gotta log in to get started! </p>
        {% endif %}
    </div>
</nav>

{% block content %}       

    <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-container text-center">
                                <div class="row">
                                    <!-- <div class="col-md-12 card-image">
                                        {%if product.image_path%}
                                            <a href="{% url 'website:product_detail' product.id %}"><img src="/media/{{product.image_path}}" alt="{{product}}" width="150"></a>
                                        {%else%}
                                            <a href="{% url 'website:product_detail' product.id %}"><img src="/media/images/no-image.jpg" alt="{{product}}" width="150"></a>
                                        {%endif%}
                                    </div> -->
                                </div>
                                <div class="row content-holder">
                                    <div class="col-md-12">
                                        <h2><a href="{% url 'website:product_detail' product.id %}">{{product.title}}</a></h2>
                                    </div>
                                    <div class="col-md-12">
                                        <h4>${{product.price}}</h4>
                                    </div>
                                    <div class="col-md-12 product-description">
                                        <h5>{{product.description}}</h5>
                                    </div>
                                    <div class="col-md-12 button-on-card">
                                        <a class="btn btn-primary" href="{% url 'website:product_detail' product.id %}">View product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}


</body>
</html>



