{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bangazon</title>
 <!--    <link rel="stylesheet" href="/../styles/test.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="{% url 'website:index' %}">Home</a></li>
                <li role="presentation"><a href="{% url 'website:categories' %}">Product Categories</a></li>
                <li role="presentation"><a href="{% url 'website:sell' %}">Sell a Product</a></li>
                <li role="presentation"><a href="{% url 'website:shopping_cart' %}">Shopping Cart</a></li>
                <li role="presentation"><a href="{% url 'website:add_payment_type' %}">Add A Payment Type</a></li>
                <li role="presentation"><a href="{% url 'website:logout' %}">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right" id="searchform" action="{% url 'website:product_search' %}"
                  method="get">
                <div class="form-group">
                    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Product Search">
                </div>
                <button class="searchbutton" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </form>
        {% else %}
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="{% url 'website:index' %}">Home</a></li>
                <li role="presentation"><a href="{% url 'website:list_products' %}">Product Categories</a></li>
                <li role="presentation"><a href="{% url 'website:login' %}">Login</a></li>
                <li role="presentation"><a href="{% url 'website:register' %}">Register</a>
                </li>
            </ul>
            <p class="navbar-text navbar-right">Bangazon says: you gotta log in to get started! </p>
        {% endif %}
    </div>
</nav>
<div class="container">
    <h3 class="text-center">Welcome to Bangazon {{ user.first_name }}.</h3>
    {% block content %}
        <p>Current Top Products:</p>
        <ol>
            {% for product in products %}
                <!-- <li id="{{ product.id }}"><a
                        href="{% url 'website:product_detail' product.id %}">{{ product.title }}</a></li> -->
                <ul class="catCardList">
                    <li class="catCardList">
                        <div class="catCard"><a href="#"><img src="http://placehold.it/221x200" alt=""></a>
                            <div class="lowerCatCard">
                               <li id="{{ product.id }}"><a
                        href="{% url 'website:product_detail' product.id %}">{{ product.title }}</a></li>
                                <div class="startingPrice">Prices Starting At <span>$174.99</span></div>
                                <p>Bacon ipsum dolor sit amet hamburger doner kielbasa beef ribs, frankfurter prosciutto tri-tip pig turducken tenderloin filet mignon. Frankfurter chuck fatback venison pastrami sirloin. Rump tongue boudin meatloaf venison ham prosciutto.</p>
                                <h4>Best Used For:</h4>
                                <ul>
                                    <li>Eating Bacon</li>
                                    <li>Cooking Bacon</li>
                                </ul>
                                <div id="catCardButton" class="button"><a href="#">View Product</a></div>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </ol>
    {% endblock %}
</div>

</body>
</html>

<div class="products">
        <div class="product-card">
            <div class="cell-1">
                <div class="product-image">
                    <div class="image-container">
                        <img src="http://placehold.it/350x350">
                    </div>
                </div>
                <div class="cell-2">
                    <div class="product-info">
                        <h4>This title will vary in size between one line and three lines tall</h4>
                        <p>This info is pretty much the same.</p>
                    </div>
                    <div class="product-info-extra">
                        <button>Button</button>
                    </div>
                </div>
            </div>
            <div class="product-footer">
                <label>
                    <input type="checkbox"> Compare</label>
            </div>
        </div>
        <div class="product-card">
            <div class="cell-1">
                <div class="product-image">
                    <div class="image-container">
                        <img src="http://placehold.it/350x350">
                    </div>
                </div>
                <div class="cell-2">
                    <div class="product-info">
                        <h4>Small one</h4>
                        <p>This info is pretty much the same.</p>
                    </div>
                    <div class="product-info-extra">
                        <button>Button</button>
                    </div>
                </div>
            </div>
            <div class="product-footer">
                <label>
                    <input type="checkbox"> Compare</label>
            </div>
        </div>
        <div class="product-card">
            <div class="cell-1">
                <div class="product-image">
                    <div class="image-container">
                        <img src="http://placehold.it/350x350">
                    </div>
                </div>
                <div class="cell-2">
                    <div class="product-info">
                        <h4>This title will vary in size between one line and three lines tall</h4>
                        <p>This info is pretty much the same.</p>
                    </div>
                    <div class="product-info-extra">
                        <button>Button</button>
                    </div>
                </div>
            </div>
            <div class="product-footer">
                <label>
                    <input type="checkbox"> Compare</label>
            </div>
        </div>
        <div class="product-card">
            <div class="cell-1">
                <div class="product-image">
                    <div class="image-container">
                        <img src="http://placehold.it/350x350">
                    </div>
                </div>
                <div class="cell-2">
                    <div class="product-info">
                        <h4>Small one</h4>
                        <p>This info is pretty much the same.</p>
                    </div>
                    <div class="product-info-extra">
                        <button>Button</button>
                    </div>
                </div>
            </div>
            <div class="product-footer">
                <label>
                    <input type="checkbox"> Compare</label>
            </div>
        </div>
        <div class="product-card">
            <div class="cell-1">
                <div class="product-image">
                    <div class="image-container">
                        <img src="http://placehold.it/350x350">
                    </div>
                </div>
                <div class="cell-2">
                    <div class="product-info">
                        <h4>This title</h4>
                        <p>This info is pretty much the same.</p>
                    </div>
                    <div class="product-info-extra">
                        <button>Button</button>
                    </div>
                </div>
            </div>
            <div class="product-footer">
                <label>
                    <input type="checkbox"> Compare</label>
            </div>
        </div>
        <div class="product-card">
            <div class="cell-1">
                <div class="product-image">
                    <div class="image-container">
                        <img src="http://placehold.it/350x350">
                    </div>
                </div>
                <div class="cell-2">
                    <div class="product-info">
                        <h4>Small one</h4>
                        <p>This info is pretty much the same.</p>
                    </div>
                    <div class="product-info-extra">
                        <button>Button</button>
                    </div>
                </div>
            </div>
            <div class="product-footer">
                <label>
                    <input type="checkbox"> Compare</label>
            </div>
        </div>
    </div>

