{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Djangazon</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript">"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"</script>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script> -->
</head>
<body>
    <!-- Static Navbar -->
<nav class="navbar navbar-default navbar static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="{% url 'website:index' %}">Djangazon</a></div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}

                <li role="presentation"><a href="{% url 'website:index' %}">Home</a></li>
                <li role="presentation"><a href="{% url 'website:categories' %}">Product Categories</a></li>
                <li role="presentation"><a href="{% url 'website:sell' %}">Sell a Product</a></li>
                <li role="presentation"><a href="{% url 'website:shopping_cart' %}">Shopping Cart</a></li>
                <li role="presentation"><a href="{% url 'website:add_payment_type' %}">Add A Payment Type</a></li>
                <li role="presentation"><a href="{% url 'website:logout' %}">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right" id="searchform" action="{% url 'website:product_search' %}"
                  method="get">
                <div class="form-group">
                    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Product Search">
                </div>
                <button class="searchbutton" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </form>
        {% else %}
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="{% url 'website:index' %}">Home</a></li>
                <li role="presentation"><a href="{% url 'website:list_products' %}">Product Categories</a></li>
                <li role="presentation"><a href="{% url 'website:login' %}">Login</a></li>
                <li role="presentation"><a href="{% url 'website:register' %}">Register</a>
                </li>
            </ul>
            <p class="navbar-text navbar-right">Bangazon says: you gotta log in to get started! </p>
        {% endif %}
    </div>
</div>
</nav>

<div class="container">
    <h3 class="page-header">{% block header %}Welcome to Djangazon {{ user.first_name }}.</h3>
    <div class='jumbotron'>
        <h1><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></h1>
    </div>
    {% endblock header %}

<div>
    {% block content %}
        <h2>Current Top Products:</h2>
        <ol>
            {% for product in products %}
                <li id="{{ product.id }}"><a
                        href="{% url 'website:product_detail' product.id %}">{{ product.title }}</a></li>
            {% endfor %}
        </ol>
    {% endblock content%}
</div>
</div>
</body>
</html>
