{% extends "index.html" %}
{% block content %}
    <h1>My Cart</h1>
    {% for lineitem in products_on_order %}
    <ul>
        <li id="{{lineitem.id}}"><a href="{% url 'website:product_detail' lineitem.id %}">{{lineitem.product.title}} - ${{lineitem.product.price}}</a>
        <form action="{% url 'website:shopping_cart' %}" method="post">
        {% csrf_token %}

            <input name="delete_product" type="hidden" value="{{lineitem.id}}"/>
            <input class="btn btn-warning btn-xs" type="submit" value="Delete Product"/>
        </form>
        </li>
    </ul>
    {% endfor %}
    {% if not products_on_order%}

      <form action="{% url 'website:index' %}">
        <input type="submit" value="Please Add Products" />
      </form>

    {% else %}
    <p><strong>Order Total: ${{ total }} </strong></p>
    <form action="{% url 'website:completeorder' %}">
      <input type="submit" value="Checkout" />
    </form>
    {% endif %}
{% endblock %}
